<div class="pokeDatails">
  <div class="pokemon">
    <h1 class="pokeName">{{ poke.name }}</h1>
    <img
      (click)="return()"
      src="{{ poke.image }}"
      alt="{{ poke.name }}"
      class="detailImage"
    />
    <h2 class="pokeTypes">Type: {{ poke.types }}</h2>
    <h2 class="pokeHeight">Height: {{ poke.height }}</h2>
    <h2>Weight: {{ poke.weight }}</h2>
    <h2>Abilities: {{ poke.abilities }}</h2>
  </div>
  <div class="moves">
    <h2 class="move">Moves:</h2>
    <p class="movee" id="moves"></p>
  </div>
</div>
