<div class="pokeDatails">
  <div class="pokeImage">
    <img src="{{ poke.image }}" alt="{{ poke.name }}" />
  </div>
  <div class="pokeName">
    <h1>{{ poke.name }}</h1>
  </div>
  <div class="pokeType">
    <h2>Type: {{ poke.types }}</h2>
  </div>
  <div class="pokeHeight">
    <h2>Height: {{ poke.height }}</h2>
  </div>
  <div class="pokeWeight">
    <h2>Weight: {{ poke.weight }}</h2>
  </div>
  <div class="pokeAbilities">
    <h2>Abilities: {{ poke.abilities }}</h2>
  </div>
  <div class="pokeMoves">
    <h2>Moves: {{ poke.moves }}</h2>
  </div>
</div>
